.box {
  width: 688px;
  border: 1px;
  display: grid;
  grid-template-columns: repeat(2, 334px);
  grid-gap: 20px 20px;
  margin: 0 auto;
}

.hr {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;
}

.buttonShowLiked {
  position: sticky;
  top: 90%;
  left: 80%;
  cursor: pointer;

  width: 157px;
  height: 48px;
  background: #ffffff;
  border: 0px;
  border-radius: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #3f444a;
}
