.card {
  width: 320px;
  height: 509px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
  position: relative;
}

.card_img {
  width: 320px;
  height: 292px;
  display: block;
  margin-bottom: 24px;
  overflow: hidden;
}

.card_foto {
  width: 100%;
  height: auto;
}

.name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #152536;
  margin: 0 0;
  padding-left: 24px;
}

.description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #152536;
  padding-left: 24px;
  margin: 0 0;
}

.divLike {
  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;

  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 50%;
  border: 0px;
  cursor: pointer;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #ff0000;
}

.buttonLike{
  background: rgba(0,0,0,0);
  border: 0px;
  margin: auto;
  display: block;
}
